#cart-content{
	margin-top: 48px;
	margin-bottom: 48px;
}

#cart-headlines{
	border-bottom: 2px solid #f0f0f0; 
}

#cart-headlines p{
	text-align: center;
	color: #9B9B9B;
	padding: 0;
	margin: 0;
	display: inline-block;
	width: 140px;
}

#cart-headlines div:first-of-type p{
	text-align: left;
	width: inherit;
	display: inherit;
}

#cart-item {
	border-bottom: 2px solid #f0f0f0;
}

#delete-item{
	display: inline-block;
	margin-right: 16px;
	font-size: 16px;
	cursor: pointer;
}

##delete-item span{
	color: #EF5350;
	font-weight: 700;

}

#cart-item-name {
	display: inline-block;
}

#cart-item-name p {
	padding: 0 0 0 12px;
	font-size: 22px;
	color: #9B9B9B;
	margin-bottom: 0;
}

#cart-price {
	margin-top: 58px;
}

#cart-price div{
	width: 140px;
	display: inline-block;
}

#cart-price #product-quantity {
	width: auto;
	margin: 0 16px;
}

#cart-price p {
	color: #2A9CF5;
	margin: 0;
	padding: 0;
	text-align: center;
}

#cart-coupon-input {
	height: 52px;
	padding: 16px 8px 16px 32px;
	background-color: #404552;
	border: 0;
	margin: 8px 0;
	margin-right: -4px;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}

#cart-coupon-input::placeholder{
	color: #6B758A;
	font-size: 12px;
}

.checkout-button {
	background-color: #2A9CF5;
	color: white;
	letter-spacing: 2px;
	font-size: 15px;
	border: 0;
	height: 68px;
	width: 200px;
	border-radius: 5px;
	font-weight: 600;
	transition: all .5s;	
}

.checkout-button:nth-of-type(2){
	float: right;
}

.checkout-button:hover {
	background-color: #333842;
	color: #f0f0f0;
}

#cart-checkout {
	width: 100%;
}

#cart-checkout + .col-9 + .col-3 #product-status {
	margin-top: 24px;
}

#cart-checkout + .col-9 + .col-3 #product-status div{
	padding: 12px 0;
	width: 100%;
	border-bottom: 2px solid #f0f0f0;
}

div[class="col-3 no-right"] #product-status{
	width: 282px;
}

div[class="col-3 no-right"] #product-status span {
	margin-right: 20px;
	margin-left: 20px;
}